/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.text-light-gray {
    margin-top: 20px;
    color: #727272;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}


/* Shared styles */

/* header styling */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* header styling end*/

/* nav styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>ul {
    display: flex;
}

nav li {
    margin-right: 30px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}

/* nav styling end */


/* Banner styling */
.banner {}

.banner-content {
    max-width: 850px;
    margin: 50px auto;
    text-align: center;
}

.banner-title {
    margin-bottom: 30px;
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}



.banner img {
    width: 100%;
}

/* Banner styling end */
/* main styles */
main {
    max-width: 1440px;
    margin: 50px auto;
}

/* team styles */
.team-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-content {
    /* margin-left: 70px;
    margin-right: 70px; */
    padding-left: 70px;
    padding-right: 70px;
}

.team-content-title {
    margin-bottom: 20px;
    font-size: 2.8rem;
}

/* team styles end*/
/* Some facts styls */
.cards-section{
    margin-top: 130px;
}
.cards-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}
.cards {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
}
.cards-title{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Some facts styls end*/

/* Sponspors styles*/
.sponspors-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
/* Sponspors end*/
.sponspors-content{
   text-align: center;
   margin-top: 50px;
   margin-bottom: 50px;
}
/* main styles end*/



/* Responsive media queries */
/* Mobile device */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav, .cards-container {
        flex-direction: column;
    }
    nav ul{
        margin-top: 30px;
    }
    .nav-title {
        margin-bottom: 30px;
    }

    .team-container {
        flex-direction: column-reverse;
    }

    .team-content{
        padding-left: 50px;
        padding-right: 50px;
    }
    .team-img-container {
        grid-template-columns: 1fr;
    }
    .cards, .section-title, .text-light-gray{
        margin: 15px;
    }
    .sponspors-icon{
        flex-direction: column;
        align-items: center;
        width: 165px;
    }
}

/* tablet or medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .nav-title {
        margin-bottom: 30px;
    }

    .team-container {
        flex-direction: column-reverse;
    }
}